# deps
node_modules/
.pnpm-store/

# build output
dist/
.vite/
build/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
packages/db/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# docker volumes (local overrides)
.data/
